.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .body {
    font-size: 40px;
    text-align: center;

    .alert {
      color: red;
      font-size: 30px;
      margin-bottom: 15px;
    }
  }

  .action {
    margin-top: 20px;
    width: 250px;
    display: flex;
    justify-content: space-between;

    > button {
      display: inline-block;
      width: 100px;
      height: 40px;
      font-size: 20px;
    }
  }
}