@import '../../styles/colors';

.wrapper {
  height: 73px;
  margin: 0 25px 50px;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  opacity: 0.7;
  border-radius: 10px;
  font-size: 30px;
  background-color: $white-alpha-95;
  color: $slate-two;
}

.wrapperSelected {
  background-color: $slate-three;
  color: $white-alpha-95;
}