@import '../../styles/colors';

.wrapper {
  position: relative;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  background-color: $pale-grey;

  .date {
    font-size: 140px;
    font-weight: 100;
    color: $white;
  }

  .day {
    font-size: 30px;
    font-weight: 300;
    color: $white;
  }
}