@import '../../styles/colors';

.wrapper {
  position: relative;
  width: 600px;
  height: 100%;
  padding: 68px 66px;
  background-color: $pale-grey;

  .header {
    display: flex;
    color: $slate;

    .title {
      flex: 1 1 auto;
      font-size: 50px;
    }

    .descriptor {
      font-size: 16px;
    }
  }

  .body {

  }
}