@import '../../styles/colors';

.wrapper {
  margin-top: 136px;
  color: $slate;

  .row {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    height: 27px;

    .label {
      width: 126px;
    }

    .input {
      flex: 1 1 auto;
      margin-left: 16px;
    }
  }

  .button {
    width: 100%;
    height: 60px;
    font-size: 18px;
  }
}